.bg-brown {
  background-color: #464242; /* This is a shade of brown */
}.bg-light-brown {
  background-color: #6e6868; /* This is a shade of brown */
}
.bg-nav-brown {
  background-color: #322D2D; /* This is a shade of brown */
}

.bg-off-white{
  background-color: #EAEAEA;
}
.footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.accordion {
  width: 120px;
  max-width: 1080px;
  height: 40px;
  overflow: hidden;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a i,
.accordion ul li div a span {
  color: #fff;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto Condensed";
  transition: all 200ms ease;
}


.accordion ul li div a span {
  display: inline-block;
  opacity: 0;
  margin: 0;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  float: right;
  line-height: 20px;
}

.accordion ul li div a i {
  font-size: 20px;
  float: left;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul:hover li {
  width: 5%;
}

.accordion ul:hover li:hover {
  width: 60%;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a span {
  transition: all 500ms ease;
  transition-delay: 0.3s;
  opacity: 1;
}

.accordion ul li:nth-child(1) {
  background-color: #0082ca;
}

.accordion ul li:nth-child(2) {
  background-color: #171515;
}

.accordion ul li:nth-child(3) {
  background-color: #f1b70f;

}


@media (max-width: 767.98px) {
  #logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-circle {
    margin-bottom: 1rem;
  }
}
/*---------------*/
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.project-circle:hover {
  transform: scale(1.04);
  transition: transform 0.4s ease-in-out;
}
section {
  transition: all 0.2s ease-in-out;
}

section:hover {
  transform: scale(1.02);
}

body {
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
}

.dropdown-content {
    display: none;
}

.dropdown.active .dropdown-content {
    display: block;
}
.fa-chevron-down {
  transition: transform 0.2s;
}

.collapse.show .fa-chevron-down {
  transform: rotate(180deg);
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.my-element:hover {
  cursor: pointer;
}

