  
    /* Set height to 200px for screens smaller than 768px */
    @media (max-width: 768px) {
      .bg-image {
        height: 200px;
      }
    }


  .shape {
    position: absolute;
    z-index: -1;
    opacity: 0;
    animation: fade 6s infinite;
  }
  #about-me {
    position: relative;
    z-index: 1;
  }
  
  .triangle{
      content: "";
      display: block;
      position: absolute;
      box-sizing: border-box;
      width: 20px;
      height: 20px;

      /*  Left Border */
      border-left-width: 3px;
      border-left-style: solid;
      border-left-color: #e1dfdf;

      /*  Top Border */
      border-top-width: 3px;
      border-top-style: solid ;
      border-top-color: #e1dfdf;

      /*  Bottom Border */
      border-bottom-width: 3px;
      border-bottom-style: solid #e1dfdf;
      border-bottom-color: transparent;

      /*  Rotate it to 45deg and skew  */
      transform: rotate(45deg) skew(10deg,10deg);

      /*  Position it until you meet the corners  */
      left: -2px;
      bottom: -13px
  }


  .square {
    width: 100px;
    height: 100px;
    border: 2px solid #e1dfdf;
    /*opacity: ;*/
  }

  
  .x {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .x:before, .x:after {
    content: "";
    position: absolute;
    height: 100px;
    width: 10px;
    background-color: #e1dfdf;
  }
  
  .x:before {
    transform: rotate(45deg);
  }
  
  .x:after {
    transform: rotate(-45deg);
  }
  
  /* Animation */
  @keyframes fade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .2;
    }
    100% {
      opacity: 0;
    }
  }
  
  /* Positioning */
/* Positioning */
#shape1 {
  top: 20%;
  left: 20%;
  animation-delay: 0s;
}

#shape1:nth-child(2) {
  top: 80%;
  left: 60%;
  animation-delay: 1s;
}

#shape2 {
  top: 25%;
  left: 55%;
  animation-delay: 2s;
}

#shape2:nth-child(2) {
  top: 65%;
  left: 35%;
  animation-delay: 3s;
}

#shape3 {
  top: 60%;
  left: 20%;
  animation-delay: 4s;
}

#shape3:nth-child(2) {
  top: 35%;
  left:}

#shape4 {
  top: calc(80% + 50px);
  left: calc(60% + 50px);
  animation-delay: 1s;
}






.bg-brown {
  background-color: #464242; /* This is a shade of brown */
}.bg-light-brown {
  background-color: #6e6868; /* This is a shade of brown */
}
.bg-nav-brown {
  background-color: #322D2D; /* This is a shade of brown */
}

.bg-off-white{
  background-color: #EAEAEA;
}
.bg-dark-white{
  background-color: #D3D1D1;
}
.bg-off-gray{
  background-color: #f9f8f8;
}

.dropdown-item.active {
  background-color: #6e6868 !important;
}


body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p, a, li {
  font-weight: 400;
}



section {
  transition: all 0.2s ease-in-out;
}

section:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: 2px solid #6e6868;
  outline-offset: -2px;
  border-radius: 10%;
}
  strong {
    display: block;
    text-align: left;
  }

.accordion {
  width: 120px;
  max-width: 1080px;
  height: 40px;
  overflow: hidden;

}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a i,
.accordion ul li div a span {
  color: #fff;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto Condensed";
  transition: all 200ms ease;
}

/*.accordion ul li:nth-child(1) div a {
  padding: 10px 15px;
}*/

.footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.accordion ul li div a span {
  display: inline-block;
  opacity: 0;
  margin: 0;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  float: right;
  line-height: 20px;
}

.accordion ul li div a i {
  font-size: 20px;
  float: left;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul:hover li {
  width: 5%;
}

.accordion ul:hover li:hover {
  width: 60%;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a span {
  transition: all 500ms ease;
  transition-delay: 0.3s;
  opacity: 1;
}

.accordion ul li:nth-child(1) {
  background-color: #0082ca;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  /*border-radius: 4px;*/
}

.accordion ul li:nth-child(2) {
  background-color: #171515;
  /*border-radius: 4px;*/
}

.accordion ul li:nth-child(3) {
  background-color: #f1b70f;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

@media (max-width: 767.98px) {
  #logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-circle {
    margin-bottom: 1rem;
  }
}

/* Add hover effect to project circles */
.card-img-top {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.project-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}


.project-box img {
  width: 100%;
  height: auto;
}

.project-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s ease;
  
}

.project-box-overlay h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.project-box-overlay a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.project-box:hover .project-box-overlay {
  opacity: 1;
}
.future-card {
  opacity: 0.6;
}

    .horizontal-timeline .items {
      border-top: 3px solid #e9ecef;
    }

    .horizontal-timeline .items .items-list {
      display: block;
      position: relative;
      text-align: center;
      padding-top: 70px;
      margin-right: 0;
    }

    .horizontal-timeline .items .items-list:before {
      content: "";
      position: absolute;
      height: 36px;
      border-right: 2px dashed #dee2e6;
      top: 0;
    }

    .horizontal-timeline .items .items-list.current:before {
      border-color: #f00; /* Change color for current item */
    }

    .horizontal-timeline .items .items-list .event-date {
      position: absolute;
      top: 36px;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 0.9rem;
      padding-top: 8px;
      text-align: center;
      width: 70%;
    }

    .horizontal-timeline .items .items-list.current .event-date {
      color: #f00; /* Change color for current item */
    }

    @media (min-width: 1140px) {
      .horizontal-timeline .items .items-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
      }

      .horizontal-timeline .items .items-list .event-date {
        top: -40px;
      }
    }

 .hidden-card {
   display: none;
 }
 .list-group section {
  padding: 20px;
  margin-bottom: 20px;

   opacity: 0;
   animation: fade-in 1s ease-in-out forwards;
 }
 /*.list-group h1 {
   font-size: 28px;
   font-weight: bold;
   margin-bottom: 10px;
 }
*/
 .list-group p {
   font-size: 18px;
   line-height: 1.5;
 }


 .list-group section:nth-child(1) {
   animation-delay: 0.2s;
 }

 .list-group section:nth-child(2) {
   animation-delay: 0.6s;
 }

 .list-group section:nth-child(3) {
   animation-delay: 1.0s;
 }

 @keyframes fade-in {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
   }
 }
