.bg-brown {
  background-color: #464242; /* This is a shade of brown */
}.bg-light-brown {
  background-color: #6e6868; /* This is a shade of brown */
}
.bg-nav-brown {
  background-color: #322D2D; /* This is a shade of brown */
}

.bg-off-white{
  background-color: #EAEAEA;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

p, a, li {
  font-weight: 400;
}

section {
  transition: all 0.2s ease-in-out;
}

section:hover {
  transform: scale(1.02);
}
  strong {
    display: block;
    text-align: left;
  }

.accordion {
  width: 120px;
  max-width: 1080px;
  height: 40px;
  overflow: hidden;
}

.accordion ul {
  width: 100%;
  display: table;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}

.accordion ul li {
  display: table-cell;
  position: relative;
  width: 16.666%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 500ms ease;
}

.accordion ul li div {
  display: block;
  overflow: hidden;
  width: 100%;
}
.accordion ul li div a i,
.accordion ul li div a span {
  color: #fff;
}

.accordion ul li div a {
  display: block;
  height: 250px;
  width: 100%;
  position: relative;
  z-index: 3;
  padding: 10px 10px;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto Condensed";
  transition: all 200ms ease;
}

/*.accordion ul li:nth-child(1) div a {
  padding: 10px 15px;
}*/

.footer {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.accordion ul li div a span {
  display: inline-block;
  opacity: 0;
  margin: 0;
  text-overflow: ellipsis;
  position: relative;
  z-index: 5;
  white-space: nowrap;
  overflow: hidden;
  font-size: 13px;
  float: right;
  line-height: 20px;
}

.accordion ul li div a i {
  font-size: 20px;
  float: left;
}

.accordion ul li div a h2 {
  font-family: Montserrat, sans-serif;
  text-overflow: clip;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 2px;
  top: 160px;
}

.accordion ul:hover li {
  width: 5%;
}

.accordion ul:hover li:hover {
  width: 60%;
}

.accordion ul:hover li:hover a {
  background: rgba(0, 0, 0, 0.4);
}

.accordion ul:hover li:hover a span {
  transition: all 500ms ease;
  transition-delay: 0.3s;
  opacity: 1;
}

.accordion ul li:nth-child(1) {
  background-color: #0082ca;
}

.accordion ul li:nth-child(2) {
  background-color: #171515;
}

.accordion ul li:nth-child(3) {
  background-color: #f1b70f;

}

@media (max-width: 767.98px) {
  #logo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .project-circle {
    margin-bottom: 1rem;
  }
}

/* Add hover effect to project circles */
.project-circle:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
}
.project-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

/*.project-box {
  position: relative;
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
}*/

.project-box img {
  width: 100%;
  height: auto;
}

.project-box-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: all 0.3s ease;
}

.project-box-overlay h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.project-box-overlay a {
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.project-box:hover .project-box-overlay {
  opacity: 1;
}
.future-card {
  opacity: 0.6;
}

    .horizontal-timeline .items {
      border-top: 3px solid #e9ecef;
    }

    .horizontal-timeline .items .items-list {
      display: block;
      position: relative;
      text-align: center;
      padding-top: 70px;
      margin-right: 0;
    }

    .horizontal-timeline .items .items-list:before {
      content: "";
      position: absolute;
      height: 36px;
      border-right: 2px dashed #dee2e6;
      top: 0;
    }

    .horizontal-timeline .items .items-list.current:before {
      border-color: #f00; /* Change color for current item */
    }

    .horizontal-timeline .items .items-list .event-date {
      position: absolute;
      top: 36px;
      left: 0;
      right: 0;
      margin: 0 auto;
      font-size: 0.9rem;
      padding-top: 8px;
      text-align: center;
      width: 70%;
    }

    .horizontal-timeline .items .items-list.current .event-date {
      color: #f00; /* Change color for current item */
    }

    @media (min-width: 1140px) {
      .horizontal-timeline .items .items-list {
        display: inline-block;
        width: 24%;
        padding-top: 45px;
      }

      .horizontal-timeline .items .items-list .event-date {
        top: -40px;
      }
    }

 .hidden-card {
   display: none;
 }
